mods/OptiFine_1.19_HD_U_H9.jar
shaderpacks/
saves/
profilekeys/
patchouli_books/
logs/
crash-reports/
defaultconfigs/
downloads/
ESM/
journeymap/
localconfigs/
.idea/
.curseclient
minecraftinstance.json
options.txt
optionsof.txt
patchouli_data.json
servers.dat
servers.dat_old
usercache.json
usernamecache.json